@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@300&display=swap");

@font-face {
  font-family: Inter, sans;
  src: url("./fonts/Inter-Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scrollbar-width: auto;
  scrollbar-color: #a1a1a1 #27272a;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #27272a;
}

*::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

.apperence-none-custom::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px;
  height: 20px !important;
  background: white;
  cursor: pointer;
  border-radius: 999px;
}

.apperence-none-custom::-webkit-slider-thumb:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.apperence-none-custom::-webkit-slider-thumb:hover {
  opacity: 1 !important;
}
.apperence-none-custom {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  height: 3px; /* Specified height */
  background: #a1a1a1; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.line-clamp {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

@media (max-width: 768px) {
  .line-clamp {
    -webkit-line-clamp: 1;
  }
}
