@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@300&display=swap");

@font-face {
  font-family: Inter, sans;
  src: url("./fonts/Inter-Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
